<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Server side rendering</title>
</head>
<body>
  <style>
    * {
      margin: 5%;
      padding: 0;
      box-sizing: border-box;
    }

    html,
    body {
      background-color: cyan;
      font-family: fantasy;
      color: #444;
    }
  </style>

  <h1>The random number is: {{.Number}}</h1>
</body>
</html>